.DS_Store
.DS_Store?
._*

/build
/dist
/tests/dist
/tmp

/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
*.yml
*.iml
.idea
/.idea
.idea/UI-X.iml
*.lnk
ebuild.bat
