:root {
    --tbl-primary: #3597d2;
    --tbl-primary-hover: #77c2f0;
    --tbl-primary-active: #417890;
    --tbl-readonly: #e3e9eb;
    --tbl-error: #962025;
    --tbl-row-error: #ffc3c5;

    --tbl-brd: 0px solid #ccc;
    --tbl-body-txt: 16px;
    --tbl-body-clr: #231f20;
    --tbl-child-clr: #6b7682;

    --tbl-nodata-clr: #aaa;

    --tbl-head-txt: 16px;
    --tbl-head-clr: #919191;
    --tbl-head-bk: #d5dee2;
    --tbl-head-brd: 2px solid #ccc;

    --tbl-th-hvr: #f4f8fc;
    --tbl-th-brd: 0px solid #aaa;
    --tbl-th-pad: 15px;
    --tbl-th-align: left;

    --tbl-tr-odd: #eee;
    --tbl-tr-even: #fff;
    --tbl-tr-sel-bk: #6a7394;
    --tbl-tr-unsel-bk: #ddd;
    --tbl-tr-sel-txt: white;
    --tbl-tr-hvr: #f9f9f9;
    --tbl-tr-focus: cyan;
    --tbl-tr-added: rgb(236, 246, 255);
    --tbl-tr-bg: #eee;

    --tbl-td-brd: #c7c7c7;
    --tbl-td-pad: 10px;
    --tbl-td-focus: #ccc;

    --tbl-cmp-input-hvr: #ddd;
    --tbl-cmp-input-focus: #fff;

    --tbl-edit-btn-hvr: #eee;

    --tbl-grp-parent: #eee;

    --tbl-hless-bk: #f9f9f9;
    --tbl-hless-brd: #e3e9eb;
    --tbl-hless-caret-clr: #3597d2;
    --tbl-hless-caret-size: 24px;
    --tbl-hless-label-clr: #6b7682;
    --tbl-hless-label-size: 18px;
    --tbl-hless-text-clr: #393536;
    --tbl-hless-text-size: 24px;
}

data-table {
    * {
        box-sizing: border-box;
    }
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 170px;
    outline: none;

    tbody tr:not(.added-row):not(.selected):not(.unselectable):not(.expanded-row):hover {
        background-color: var(--tbl-tr-hvr);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border: var(--tbl-brd);
        outline: none;
        thead {
            border-bottom: var(--tbl-brd);
            tr {
                border-bottom: var(--tbl-head-brd);
            }
        }
        th {
            background-color: var(--tbl-head-bk);
            position: relative;
            border: var(--tbl-th-brd);
            font-weight: normal;
            text-align: var(--tbl-th-align);
            padding: 0;
            font-size: var(--tbl-head-txt);
            color: var(--tbl-head-clr);
            line-height: 1.2;

            &[data-field='edit'] {
                pointer-events: none;
            }

            &.center {
                text-align: center;
            }
            &.right,
            &.percentage,
            &.currency,
            &.accounting {
                text-align: right;
            }
            &.unsortable {
                pointer-events: none;
            }
            &.toolbar {
                cursor: default;
            }
            .th-content {
                white-space: nowrap;
                display: block;

                .tbl-label {
                    display: inline-block;
                    vertical-align: text-top;
                    white-space: normal;
                    padding: var(--tbl-th-pad);
                }
            }
            .sort {
                vertical-align: text-top;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                height: auto;
                width: 16px;
                display: none;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
                // margin-left: 5px;
                // width: 9px; // used to line up with td text
                // display: none;
                .sort-up,
                .sort-dn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -5px;
                    transform: translateY(-7px);
                    font-size: 15px;
                }
            }
            &.desc {
                .sort {
                    display: flex;
                    .sort-dn {
                        opacity: 1;
                    }
                    .sort-up {
                        opacity: 0.4;
                    }
                }
            }
            &.asc {
                .sort {
                    display: inline-block;
                    .sort-dn {
                        opacity: 0.4;
                    }
                    .sort-up {
                        opacity: 1;
                    }
                }
            }
            &.filter {
                padding: 0;
                .th-content {
                    padding: 0 45px 0 var(--tbl-th-pad);
                }
                .filter-btn {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    height: auto;
                    width: 32px;
                    font-size: 13px;
                    background-color: var(--tbl-head-bk);
                    &:hover {
                        // background-color: #999;
                        color: yellow;
                    }
                }
            }
            &.filter.desc,
            &.filter.asc{
                .sort{
                    right: 32px;
                }
            }
        }
        tbody {
            tr {
                outline: 0;
                &.selected {
                    background-color: var(--tbl-tr-sel-bk);
                    color: var(--tbl-tr-sel-txt);
                }
                &.unselectable {
                    outline: 0;
                    background-color: var(--tbl-tr-unsel-bk);
                }
                &:focus {
                    box-shadow: 0 0 20px var(--tbl-tr-focus) inset;
                }
            }
        }

        td {
            border: 1px solid var(--tbl-td-brd);
            padding: var(--tbl-td-pad);
            font-size: var(--tbl-body-txt);
            color: var(--tbl-body-clr);
        }
    }

    &[sortable],
    &.sortable {
        th {
            cursor: pointer;
            &:hover {
                background-color: var(--tbl-th-hvr);
            }
        }
    }
    &[scrollable] {
        overflow-x: auto;
        overflow-y: auto;
        position: relative;
        th {
            position: sticky;
            top: 0;
            left: -100%;
            z-index: 2;
        }

        &[static-column] {
            th:first-child,
            td:first-child {
                position: sticky;
                left: 0;
                z-index: 1;
            }
            th:first-child {
                z-index: 3;
            }
        }
    }
    &[borders='bottom'] {
        table {
            td {
                border: 0;
                border-bottom: 1px solid var(--tbl-td-brd);
            }
        }
    }
    &[borders='none'] {
        table {
            td {
                border: 0;
            }
        }
    }
    &.selectable {
    }

    &[clickable] {
        tbody {
            tr {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &.no-data {
        border: var(--tbl-brd);
        padding-bottom: 25px;
        &:after {
            content: 'No Data';
            display: block;
            position: relative;
            top: 50px;
            text-align: center;
            font-style: italic;
            color: var(--tbl-nodata-clr);
        }
        &.scrollable {
            &:after {
                margin-top: 55px;
            }
        }
    }
}

// headerless
data-table.headerless {
    table {
        border-collapse: separate;
        border-spacing: 0 10px;
    }
    tr {
        cursor: pointer;
        &.expanded-row {
            cursor: default;
            td {
                border: 0;
                background-color: transparent;
            }
        }
        &.expanded-parent {
            td {
                background-color: white;
                border-bottom: 0;
            }
        }
    }
    td {
        background-color: var(--tbl-hless-bk);
        border: 1px solid var(--tbl-hless-brd);
        border-width: 1px 0;
        vertical-align: top;
        padding: 15px 10px;
        // fixme
        // cell label is not dependent on headerless
        .tbl-cell-label {
            font-size: var(--tbl-hless-label-size);
            color: var(--tbl-hless-label-clr);
        }
        .tbl-cell-text {
            font-size: var(--tbl-hless-text-size);
            color: var(--tbl-hless-text-clr);
        }
        &:first-child {
            // padding: 0;
        }
        &.expand-cell {
            vertical-align: middle;
            i.fas {
                font-size: var(--tbl-hless-caret-size);
                color: var(--tbl-hless-caret-clr);
            }
        }
    }
}

// zebra striping
data-table.zebra {
    tbody {
        tr:not(.child-row):not(.row-error):not(.expanded-row):nth-child(even) {
            td {
                background-color: var(--tbl-tr-odd);
            }

            &:hover {
                td {
                    background-color: var(--tbl-tr-hvr);
                }
            }
        }
        tr:not(.child-row):not(.row-error):not(.expanded-row):nth-child(odd) {
            td {
                background-color: var(--tbl-tr-even);
            }
            &:hover {
                td {
                    background-color: var(--tbl-tr-hvr);
                }
            }
        }
    }
}

// style editable buttons
.tbl-icon-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    border-radius: 50%;
    padding: 4px 6px;
    // height: 17px;
    &:hover {
        background-color: var(--tbl-edit-btn-hvr);
    }
    &:focus {
        outline: 0;
        background-color: var(--tbl-primary);
        color: white;
        opacity: 1;
    }
}

// edit buttons
data-table {
    th {
        &[data-field='edit'] {
            text-align: center;
            width: 60px;
        }
    }
    tr {
        &.added-row {
            background-color: var(--tbl-tr-added);
            td {
                ui-input {
                    input {
                        background-color: white;
                        &:focus {
                            background-color: white;
                        }
                    }
                }
            }
            .tbl-icon-button.add {
                display: none;
            }
            .tbl-icon-button.save {
                display: inline-block;
                opacity: 1;
            }
        }
        &.row-error {
            background-color: var(--tbl-row-error);
        }
        &:hover {
            .tbl-icon-button {
                display: inline-block;
                opacity: 1;
            }
        }
    }

    ui-actionbutton {
        label.ui-label {
            display: none;
        }
        button {
            width: 16px;
            height: 16px;
        }
    }
    .tbl-icon-button.save,
    .tbl-icon-button.cancel {
        display: none;
    }
    // &[data-rows='1'] {
    //     .tbl-icon-button.remove {
    //         opacity: 0;
    //         pointer-events: none;
    //     }
    // }

    td {
        .td-editable {
            cursor: pointer;
            &:focus {
                outline: none;
                box-shadow: 0 0 7px rgba(0, 0, 0, 0.2) inset;
            }
        }
        &[data-field='edit'] {
            text-align: center;
            padding: 0;
        }
        .tbl-icon-button {
            opacity: 0;
            transition: opacity 150ms ease-in;
            button:nth-child(1) {
                margin-right: 0;
            }
            &:focus {
                opacity: 1;
            }
        }
        // formatting
        &.center {
            text-align: center;
        }
        &.right,
        &.percentage,
        &.currency,
        &.accounting {
            text-align: right;
        }
    }

    &[is-editing] {
        .tbl-icon-button {
            display: none;
        }
        tr.added-row {
            .tbl-icon-button.save,
            .tbl-icon-button.cancel {
                display: inline-block;
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}

// components
data-table {
    td {
        // display: inline-block;
        input {
            box-sizing: border-box;
            display: inline-block;
            padding: 5px;
            font-size: var(--tbl-body-txt);
            border: 0;
            outline: 0;
            &:focus {
                // background-color: var(--tbl-cmp-input-focus);
                // border: 1px solid red;
            }
        }
        label {
            display: none;
        }
    }
    date-input {
        width: 100px;
        button.icon-button {
            display: none;
        }
        .date-input-wrapper input {
            width: 100%;
            font-size: var(--tbl-body-txt);
        }
    }

    .ui-checkbox {
        text-align: center;
        ui-checkbox {
            margin: 0;
            background-color: white;
            width: 20px;
            height: 20px;
            ui-icon {
                width: auto;
                height: 20px;
                margin: 0;
                &::before {
                    // padding-bottom: 5px;

                    font-size: 16px;
                }
            }
        }
    }

    ui-dropdown.data-table-field.select {
        width: 100%;
        button.ui-button {
            width: 100%;
            border-width: 0;
            height: auto;
            &:focus {
                border-width: 1px;
            }
        }
        label.ui-label {
            display: none;
        }
    }
    ui-search.data-table-field.search {
        label.ui-label {
            display: none;
        }
    }
}

// no data .message
data-table {
    .no-data-container {
        margin: 20px 0;
        text-align: center;
        .message {
            margin: 10px;
            i {
                margin-right: 5px;
            }
        }
        .ui-button {
            display: inline-block;
        }
    }
}

// readonly checkbox
.tbl-checkbox {
    width: 20px;
    height: 20px;
    background-color: var(--tbl-readonly);
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    ui-icon {
        &::before {
            font-size: 16px;
            color: var(--tbl-tr-sel-bk);
        }
    }
}
// expandable rows
data-table {
    &.has-grouped {
        th:first-child {
            padding-left: 25px;
        }
        td:first-child {
            padding-left: 30px;
        }
        td.expand-cell {
            padding-left: 15px;
            div {
                display: flex;
                flex-direction: row;
                color: var(--tbl-primary);
                cursor: pointer;
                span {
                    display: block;
                    &.fas {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    tr.expanded-row {
        td {
            padding: 0;
        }
        .expanded-container {
            min-height: 50px;
        }
    }
    tr.parent-row {
        background-color: var(--tbl-grp-parent);
    }

    tr.child-row {
        position: relative;
        transform: scale(1); // hack to make row obey position: relative
        padding: 0 10px;
        border: 10px solid var(--tbl-tr-bg);
        border-top: 0;
        border-bottom: 0;
        td {
            color: var(--tbl-child-clr);
            border-bottom: 1px solid var(--tbl-td-brd);
        }
        box-sizing: border-box;
        &.last-child {
            border-bottom: 30px solid var(--tbl-tr-bg);
        }
    }
}

.data-table-node-holder {
    position: absolute;
    top: 0;
    left: -10000;
    display: none;
}

// loading spinner
data-table {
    .loader {
        position: absolute;
        top: 90px;
        left: calc(50% - 25px);
        width: 0;
        .spinner {
            position: relative;
            width: 50px;
            height: 50px;
            animation-name: data-table-loader-spin;
            animation-duration: 800ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            border-radius: 50%;
            border: 2px solid var(--tbl-primary);
            border-right-color: transparent;
            border-bottom: 0;
        }
    }
}

@keyframes data-table-loader-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// loading spinner
data-table {
    .tbl-error {
        position: absolute;
        top: 90px;
        width: 100%;
        text-align: center;
        .message {
            display: inline-block;
            background-color: var(--tbl-error);
            color: white;
            padding: 15px;
        }
    }
}

// tags
data-table {
    button.fa-tags {
        border: 0;
        background-color: transparent;
        outline: 0;
        cursor: pointer;
        &:disabled {
            cursor: default;
        }
    }
}

.minitag-button-container {
    position: relative;
    z-index: 2;
    ui-minitags.data-table-minitags {
        position: absolute;
        top: -15px;
        right: 38px;
        border-radius: 6px;

        .minitag-button {
            position: relative;
            z-index: 2;
            border-radius: 6px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            right: 2px;
            top: 22px;
            width: 16px;
            height: 16px;
            background-color: white;
            transform: rotate(45deg) translate(0, -75%);
            box-shadow: 2px 0 2px rgba(0, 0, 0, 0.4);
        }
    }
}
