$tbl-brd: 2px solid #ccc;
$td-brd: 1px solid #eee;
$th-brd: 1px solid #aaa;
$tr-sel-bk: #4660bf;
$tr-unsel-bk: #d6e5f0;
$tr-sel-txt: white;
$head-bk: #eee;
data-table{
    display: block;
    outline: none;
    table{
        width: 100%;
        border-collapse: collapse;
        border: $tbl-brd;
        font-size: 13px;
        outline: none;
        &.sortable{
            th {
                cursor: pointer;
            }
        }
        thead{
            background-color: $head-bk;
            border-bottom: $tbl-brd;
        }
        th{
            border: $th-brd;
            font-weight: normal;
            text-align: center;
            padding: 5px;
            position: relative;
            &.desc, &.asc{
                &:after{
                    content: '\25BE';
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
            &.asc{
                &:after{
                    transform: rotate(180deg);
                }
            }
        }
        tbody{
            tr{
                &.selected{
                    background-color: $tr-sel-bk;
                    color: $tr-sel-txt;
                }
                &.unselectable {
                    outline: 0;
                    background-color: $tr-unsel-bk;
                }
            }
        }
        td{
            border: $td-brd;
            padding: 5px;
        }
    }
}